* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
}

.container {
    border: 10px double red;
    font-size: 1rem;
    margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: -20px;
}

.circle {
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 3rem auto;
    outline: 2px solid red;
    outline-offset: 0.25rem;
    border-radius: 50px;

}


p {

    font-size: 1rem;
    width: 40ch;
}